<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Default" 
      connectionString="Server=e10dd4f1-a9f4-445f-b3d2-a1ae0088ddb5.sqlserver.sequelizer.com;Database=dbe10dd4f1a9f4445fb3d2a1ae0088ddb5;User ID=kniengiuurtglwfn;Password=zvH4zAYptKT2zGrE8vDiWoxYpQFxnMrtK3TkixD6QdY3BCxoyqpfxdRk6RMR4zcN;" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="YMapsApiKey" value="AAEEfVEBAAAAgVm-WwMArAuB85TjfnI61z6JLjKssk1dvkcAAAAAAAAAAACogmxNozbhiN20tX33Xj4-BTP3uA=="
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>