USE [master]
GO
/****** Object:  Database [Stations]    Script Date: 20.04.2013 14:26:38 ******/
CREATE DATABASE [Stations]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stations', FILENAME = N'D:\MSSQL\Data\Stations.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Stations_log', FILENAME = N'D:\MSSQL\Data\Stations_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stations].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stations]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 20.04.2013 14:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Groups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IFStations]    Script Date: 20.04.2013 14:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFStations](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [int] NOT NULL,
	[IFID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Lat] [float] NOT NULL,
	[Lng] [float] NOT NULL,
 CONSTRAINT [PK_dbo.IFStations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScheduleItems]    Script Date: 20.04.2013 14:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleItems](
	[ID] [uniqueidentifier] NOT NULL,
	[StationID] [uniqueidentifier] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ScheduleItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stations]    Script Date: 20.04.2013 14:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[ID] [uniqueidentifier] NOT NULL,
	[GroupID] [uniqueidentifier] NOT NULL,
	[Code] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Stations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transports]    Script Date: 20.04.2013 14:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transports](
	[ID] [uniqueidentifier] NOT NULL,
	[Number] [nvarchar](max) NULL,
	[TypeID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StartID] [uniqueidentifier] NOT NULL,
	[EndID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Transports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransportTypes]    Script Date: 20.04.2013 14:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportTypes](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TransportTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Groups] ([ID], [Name]) VALUES (N'cd372656-0b82-4bb9-8ebc-00d66d029484', N'ул. Бочкина')
INSERT [dbo].[Groups] ([ID], [Name]) VALUES (N'e99675e7-af92-43e1-8c62-01106d129dbe', N'Завод Самоходных Комбайнов (Кормаш)')
INSERT [dbo].[Groups] ([ID], [Name]) VALUES (N'96f5d035-d8b7-423b-a48a-02db18d5d42b', N'ул. Фадеева')
GO
INSERT [dbo].[IFStations] ([ID], [Code], [IFID], [Name], [Lat], [Lng]) VALUES (N'c13fa6fd-e35e-42a8-9e36-005e4ca005d4', 242, 90242, N'Электротехнический з-д', 52.43982, 30.978228)
INSERT [dbo].[IFStations] ([ID], [Code], [IFID], [Name], [Lat], [Lng]) VALUES (N'fdfda5fb-693f-45cc-8615-00c22806463b', 519, 90519, N'мкр-н №35', 52.381935, 31.02928)
INSERT [dbo].[IFStations] ([ID], [Code], [IFID], [Name], [Lat], [Lng]) VALUES (N'46434fcf-1859-4540-806a-028e3181f538', 539, 90539, N'пов. на Химы', 52.35007, 31.028936)
GO
INSERT [dbo].[Stations] ([ID], [GroupID], [Code], [Name], [FullName]) VALUES (N'c910bda2-7a97-4057-9606-000e122560df', N'0ede55b3-e842-4645-8dde-458d6dab03de', 563, N'', N'ул. Богданова ')
INSERT [dbo].[Stations] ([ID], [GroupID], [Code], [Name], [FullName]) VALUES (N'fba19048-aac9-468c-b414-005d8c56d252', N'5036b03b-7ca4-478c-bee3-46a4a361447d', 566, N'', N'Больница (Сельмаш) ')
INSERT [dbo].[Stations] ([ID], [GroupID], [Code], [Name], [FullName]) VALUES (N'9a08e5c2-c66a-4c74-ad2a-0078cc8a599e', N'6327b0db-5454-4f3a-8bb2-9dbe06b36f6a', 359, N'в Город', N'Гомельоблавтотранс (в Город)')
GO
INSERT [dbo].[TransportTypes] ([ID], [Name]) VALUES (N'3606e4f7-4123-4859-9581-369eb0bc275a', N'Троллейбусы')
INSERT [dbo].[TransportTypes] ([ID], [Name]) VALUES (N'65c04af7-0544-4c19-a0c4-871b432cf46a', N'Маршрутные такси')
INSERT [dbo].[TransportTypes] ([ID], [Name]) VALUES (N'dfce21eb-bc13-43d2-9ece-bef649b4dc92', N'Автобусы')
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[IFStations] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ScheduleItems] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Transports] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Transports] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [StartID]
GO
ALTER TABLE [dbo].[Transports] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [EndID]
GO
ALTER TABLE [dbo].[TransportTypes] ADD  DEFAULT (newid()) FOR [ID]
GO
USE [master]
GO
