<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    @RenderSection("styles", false)
    @RenderSection("scripts", false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
